//@at-root
.search {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #32323256;
  padding-bottom: 0.5rem;

  input {
    border: none;
    padding: 0.5rem 0;
    margin-left: 1.4rem;
    background-color: transparent;
    width: 22rem;

    &:focus {
      outline: none;
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }
  }
}

::-webkit-input-placeholder {
  font-family: var(--font-display);
  font-weight: 300;
}
