:root {
  --color-primary: #eee;
  --color-primary-main: #323232;
  --color-primary-light: #424242;
  --color-primary-sub: orangered;
  --color-white: #fff;
  --color-black: #000,
  --color-white-light: #f5f5f5;
  --color-blue: #1473e6;
  --color-blue-dark: rgb(8, 79, 187);
  --color-green: #55c57a;
  --color-chip: #ea4c89;

  --color-btn: #e67e22;
  --color-btn-hover: #e47311;
  --color-primary1: #c69963;
  --color-primary-dark: #b28451;

  --grid-width: 114rem;
  --gutter-horizontal: 4rem;
  --gutter-vertical: 8rem;

  --font-primary: Sans-serif;
  --font-display: "Sofia pro", sans-serif;
}
