.btn {
  display: inline-block;
  border: 2px solid var(--color-green);
  background-color: var(--color-green);
  padding: 0.6rem 2rem;
  font-family: var(--font-display);
  color: var(--color-white);
  border-radius: 50px;
  font-weight: 900;
  cursor: pointer;

  &:hover {
    background-color: var(--color-green);
    border: 2px solid var(--color-green);
    color: var(--color-white);
  }
}

.btn-help {
  display: inline-block;
  // border: 2px solid var(--color-primary-main);
  background-color: var(--color-primary-main);
  padding: 0.6rem 2rem;
  font-family: "Lato", sans-serif;
  color: var(--color-white);
  border-radius: 50px;
  font-weight: 900;
  margin-left: 1.5rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-white);
    // border: 2px solid transparent;
    color: var(--color-primary-main);
  }
}

.btn-help2 {
  display: inline-block;
  border: 2px solid var(--color-white);
  background-color: transparent;
  padding: 0.6rem 2rem;
  font-family: "Lato", sans-serif;
  color: var(--color-white);
  border-radius: 50px;
  font-weight: 900;
  margin-left: 1.5rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-white);
    border: 2px solid transparent;
    color: var(--color-primary-main);
  }
}

.btn-active {
  display: inline-block;
  border: 2px solid var(--color-primary-main);
  background-color: var(--color-primary-main);
  padding: 1rem 2rem;
  font-family: "Lato", sans-serif;
  color: var(--color-white);
  border-radius: 50px;
  font-weight: 900;
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary-main);
    border: 2px solid transparent;
    color: var(--color-white);
  }
}

.btn-find {
  display: inline-block;
  border: 2px solid var(--color-green);
  background-color: var(--color-green);
  padding: 1rem 2rem;
  font-family: "Lato", sans-serif;
  color: var(--color-white);
  border-radius: 50px;
  font-weight: 900;
  cursor: pointer;
  margin-left: 1rem;

  &:hover {
    background-color: var(--color-green);
    border: 2px solid transparent;
    color: var(--color-white);
  }
}

.closeBtn {
  align-self: flex-end;
  background-color: var(--color-blue);
  color: var(--color-white);
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  // margin-left: 10rem;
  font-size: 1.6rem;
  margin-top: -5rem;
  margin-right: -2.6rem;
  border: 2px solid var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn__slider {
  z-index: 10000;
  height: 4rem;
  width: 4rem;
  border: none;
  background-color: var(--color-btn);
  border-radius: 50%;
  cursor: pointer;
  svg {
    height: 2rem;
    width: 2rem;
    fill: var(--color-white);
  }

  @media screen and (max-width: 480px) {
    display: none;
  }

  &-left {
    left: 10px;
    margin-left: 1rem;
    top: 52%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  &-right {
    margin-left: 98rem;
    margin-right: 2rem;
    right: 10px;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.buttons {
  z-index: 91;
  position: absolute;
  top: 52%;
  display: flex;
  justify-content: space-between;
  // margin-left: 1rem;
}

.theme {
  padding: 1.4rem 2rem;
  border: none;
  border-radius: 50px;
  font-family: "Josefin Sans", sans-serif;
  color: var(--color-white);

  background-color: var(--color-primary-main);
  cursor: pointer;
}
