.section-err {
  position: relative;
  height: 40rem;
  background-image: linear-gradient(to right bottom, #38ef7d, #11998e);

  &__info {
    position: absolute;
    color: var(--color-white);
    left: 10%;
    top: 20%;

    h2 {
      font-weight: 250;
      font-size: 3.6rem;
      margin-bottom: 2rem;
    }

    p {
      font-weight: 500;
      font-size: 1.6rem;
      width: 70%;
      line-height: 2;
      margin-bottom: 4rem;
    }

    a,
    :link,
    :visited {
      text-decoration: none;
      font-size: 1.2rem;
    }
  }

  &-contact {
    position: absolute;
    bottom: 2rem;
    right: 4rem;

    height: 4rem;
    width: 4rem;
    background-image: linear-gradient(to right bottom, #38ef7d, #11998e);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    cursor: pointer;
    svg {
      fill: var(--color-white);
    }
  }
}
